<template name="debateSubmit">
    <form class="main form">
        <div class="form-group {{errorClass 'proposition'}}">
            <label class="control-label" for="proposition">Proposition</label>
            <div class="controls">
                <input name="proposition" id="proposition" type="text" value="" placeholder="Write down your proposition" class="form-control" />
                <span class="help-block">{{errorMessage 'proposition'}}</span>
            </div>
        </div>
        <div class="form-group {{errorClass 'positive'}}">
            <label class="control-label" for="positive">Positive standpoint</label>
            <div class="controls">
                <input name="positive" id="positive" type="text" value="" placeholder="the positive standpoint" class="form-control" />
                <span class="help-block">{{errorMessage 'positive'}}</span>
            </div>
        </div>
        <div class="form-group {{errorClass 'negative'}}">
            <label class="control-label" for="negative">Negative standpoint</label>
            <div class="controls">
                <input name="negative" id="negative" type="text" value="" placeholder="the negative standpoint" class="form-control" />
                <span class="help-block">{{errorMessage 'negative'}}</span>
            </div>
        </div>
        <div class="form-group {{errorClass 'url'}}">
            <label class="control-label" for="url">Related URL</label>
            <div class="controls">
                <input name="url" id="url" type="text" value="" placeholder=" attach a related URL if needed" class="form-control" />
                <span class="help-block">{{errorMessage 'url'}}</span>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</template>