<template name="debateItem">
    <div class="post">
        <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
        <div class="post-content debate">
            <h3>
                {{#if hasUrl}}
                    <a href="{{url}}" class="debate-proposition">{{proposition}}</a><span>{{domain}}</span>
                {{else}}
                    <p class="debate-proposition">{{proposition}}</p>
                {{/if}}
            </h3>
            <div class="debate-standpoints">
                <p class="positive-standpoint">positive: &nbsp; {{positiveStandpoint}}</p>
                <p class="negative-standpoint">{{negativeStandpoint}} &nbsp; :negative</p>
            </div>
            <div class="debate-standpoints">
                <p name="positive-percentage" class="positive-percentage" style = "{{positiveStyles}};">&nbsp; {{positiveCount}}</p>
                <p name="negative-percentage" class="negative-percentage" style = "{{negativeStyles}};">&nbsp; {{negativeCount}}</p>
            </div>
            <p class="post-footer">
                submitted by {{author}}, &nbsp; {{pluralize votes "Vote"}}, &nbsp;
                <a href="{{pathFor 'debatePage'}}">{{commentsCount}} contentions</a>
                {{#if needEdit}}
                    <a href='#' class='edit-toggle'>&nbsp; Edit</a>
                {{/if}}
                {{#if canDelete}}
                    <a href='#' class='delete-debate'>&nbsp; Delete</a>
                {{/if}}
            </p>
        </div>
        <a href="#" class="discuss btn btn-default next-path" >{{navigateText}}</a>
        {{#if showEditForm}}
            {{> debateEdit }}
        {{/if}}
    </div>
</template>