<template name="commentChain">
    {{#with parentPost}} {{> postItem}} {{/with}}
    <div class="mainContext">
        <div class="leftContext">
            <div class="comments">
                {{#each com in commentList}}
                    {{> commentItem (commentArgs com 'left')}}
                {{/each}}
                {{#each child in childComments}}
                    {{> commentItem (commentArgs child 'left')}}
                {{/each}}
            </div>
        </div>
        <div class="rightContext">
            <ul class="comments">
                {{#each com in commentList}}
                    {{> commentItem (commentArgs com 'right')}}
                {{/each}}
                {{#each child in childComments}}
                    {{> commentItem (commentArgs child 'right')}}
                {{/each}}
            </ul>
        </div>
    </div>
</template>