<template name="commentItem">
    <div class="comment-item {{timeline}}">
        <div  class="comment {{alignment}} {{#if arrowNeeded}} {{arrowDirection}} {{/if}} {{commentSide}}">
            <a href=" {{commentChainPath}}" class="comment-content">
                <p class="comment-header {{commentSide}}">
                    <span class="author">{{comment.author}}</span>
                    <span class="date"> &nbsp; on {{submittedText}}</span>
                </p>
                <p class="text {{commentSide}}">{{comment.body}}</p>
            </a>
            <div  class="comment-footer {{commentSide}}">
                {{#if currentUser}}
                    <a href="#" class="submit-toggle"> {{#if isDebate}} oppose {{else}} comment {{/if}} &nbsp; </a>
                {{/if}}
                {{#if canDelete}}
                    <a href="#" class="delete-comment" > delete &nbsp; </a>
                {{/if}}
                {{#if isDebate}}
                    oppositions: {{childCount}}, &nbsp; total-contentions: {{childTotalCount}}
                {{else}}
                    sub-comments: {{childCount}}, &nbsp; total-comments: {{childTotalCount}}
                {{/if}}
            </div>
            {{#if needSubmit}}
                    {{> subCommentSubmit comment=comment }}
            {{/if}}
        </div>
        <div class="{{#if iconsNeeded}} icon {{iconSide}} {{/if}}">
            {{#if iconsNeeded}} <img src="/star.svg" alt=""> {{/if}}
        </div>
    </div>
</template>