<template name="commentItem">
    <li class="{{#if visibleDisallowed}}visibleDisallowed{{/if}}  send">
        <div class="comment">
            <div class="comment-content">
                <p>
                    <span class="author">{{comment.author}}</span>
                    <span class="date">  on {{submittedText}}</span>
                </p>
                <p class="text">{{comment.body}}</p>
            </div>
            <a href="{{#if hasChildren}} {{commentChainPath}} {{/if}}" class="objections btn btn-default">Objections</a>
        </div>
        <div class="{{#if arrowNeeded}} {{alignSide}}Arrow {{/if}}"></div>
    </li>
</template>