<template name="commentItem">
    <div class="comment-item {{timeline}}">
        <div  class="comment {{alignment}} {{#if iconsNeeded}} {{iconDirection}} {{/if}}">
            <a href=" {{commentChainPath}}" class="comment-content {{alignment}}">
                <p>
                    <span class="author">{{comment.author}}</span>
                    <span class="date">  on {{submittedText}}</span>
                </p>
                <p class="text {{alignment}}">{{comment.body}}</p>
            </a>
            <div  class="challenges {{alignment}}">{{childCount}} Challenges, {{childTotalCount}} sub-comments</div>
        </div>
        <div class="{{#if iconsNeeded}} icon {{iconSide}} {{/if}}">
            {{#if iconsNeeded}} <img src="/star.svg" alt=""> {{/if}}
        </div>
    </div>
</template>