<template name="commentSubmit">
    <form name="comment" class="comment-form form">
        <div class="form-group {{errorClass 'body'}}">
            <div class="controls">
                {{#if isTopicPost}}
                    <label for="body">Comment on this topic</label>
                {{/if}}
                {{#if isDebatePost}}
                    <label for="body">Debate on this proposition</label>
                {{/if}}
                <textarea name="body" id="body" class="form-control" rows="3"></textarea>
                <span class="help-block">{{errorMessage 'body'}}</span>
                <button type="submit" class="btn btn-primary">
                    {{#if isDebatePost}}
                        Add debate
                    {{else}}
                        Add Comment
                    {{/if}}
                </button>
                {{#if isDebatePost}}
                    &nbsp; &nbsp; <input type="radio" name="standpoint" value="positive" checked /> Positive side
                    &nbsp; &nbsp; <input type="radio" name="standpoint" value="negative" /> Negative side
                {{/if}}
            </div>
        </div>
    </form>
</template>